body {
  background-color: black;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 768px) {
    height: 100vh;
  }

  .title-container {
    padding-bottom: 10px;

    @media screen and (max-width: 768px) {
      position: static;
      padding-bottom: 20px;
    }
  }

  .social-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 175.3px;
    position: static;

    @media screen and (max-width: 768px) {
      padding-right: 0;
      justify-content: center;
      width: 100%;
      position: static;
      padding-top: 0;
    }

    .button-container {

      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-items: center;
  
      &:hover {
        transform-origin: center;
        -webkit-transition: all .2s;
        transition: all .3s ease-in-out;
        transform: scale(1.2);
      }
    }
  }

  .fancy {
    background: linear-gradient(to right, cyan,violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .social-icon {
    color: white;
    font-size: 35px;
    -webkit-transition: font-size .5s;
    transition: font-size .5s, color .5s;
    position: static;

    @media screen and (max-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
      position: static;
    }
  }

  h1 {
    font-size: 4em;
    line-height: 1;
    letter-spacing: -0.03em;
    margin: 0;

    @media screen and (max-width: 800px) {
      font-size: 3em;

    }
  }
}