@import 'src/styles/global.scss';

$footer-width: 100px;

.container {
  width: $footer-width;

  .footer {
    margin: 0 auto;
    text-align: center;
    max-width: $footer-width;
    color: $color-palette-4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 20px 0 20px;
  }
}